$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Lato);

// User Story: As a user, I can see the weather in my current location.
// Bonus User Story: As a user, I can see an icon depending on the temperature..
// Bonus User Story: As a user, I see a different background image depending on the temperature (e.g. snowy mountain, hot desert).
// Bonus User Story: As a user, I can push a button to toggle between Fahrenheit and Celsius.

// currently can be unknown - account for that
// currently length - can be long, so account for that
// responsivity - change font sizes depending on screen sizes
// loading screen

// * {
//   border: 1px solid pink;
// }

body {
	background-color: green;
	font-family: 'Dancing Script', cursive;
	font-size: 3em;
	color: #ffffff;
	background-size: cover;
					text-rendering: optimizeLegibility;
}

p {
	display: inline-block;
}

.jumbotron {
	position: relative;
	background-color: transparent;
	border-radius: 20px !important;
	background:
		linear-gradient(
			rgba(0, 0, 0, 0.8), 
			rgba(0, 0, 0, 0.5)
		);
	border: 1px solid gray;
	.location {
		font-size: 5em;
		display: block;
		text-align: center;
		overflow: hidden;
	}

	.country {
		font-size: 1.0em;
		display: block;
		text-align: center;

	}

	.temp-container {
		display: block;
		display: table;
		width: 100%;
		height: 100%;

		.testcell {
			display:table-cell;
			text-align: center;
			vertical-align:middle;
			line-height: 1em;
			width: 33%;
			position: relative;
			
			.degrees-tbl {
				font-family: 'Lato', sans-serif;
				margin-left: auto;
				margin-right: auto;
				height: 2.5em;
				padding: 0;
				display:table;
				height: 45px;

				.temperature {
					display:table-cell;
					height: 5px;

					font-size: 1.8em;
					width: 110px !important;
					text-align: right;
					// padding-top: 0.3em;
				}

				.degrees-text {
					display:table-cell;
					line-height: 5px;	

					font-size: 0.4em;
					bottom: 0;
					padding: 0;
				}
				.celsius-box, .fahrenheit-box {
					display:table-cell;
					line-height: 18px;
					
					text-align: left;
					font-size: 1.1em;
					color: gray;
					user-select: none;
					-webkit-transition: all 0.2s ease-in-out;
				    -moz-transition: all 0.2s ease-in-out;
				    -o-transition: all 0.2s ease-in-out;
				    -ms-transition: all 0.2s ease-in-out;
				    transition: all 0.2s ease-in-out;

				   &:hover, &.hover {
				   	color: #D9DDDB !important;
						cursor: pointer;
					}
				}

			}
			.climate_bg {
				-webkit-filter: invert(100%);
			}
			.currently-text-tbl {
				margin-left: auto;
				margin-right: auto;

				.currently {
					font-size: 1.6em;
					height: 1.0em;
				}

				.text {
					font-size: 0.6em;
				}
			}
		}  
	}
}