$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

// User Story: As a user, I can see the weather in my current location.
// Bonus User Story: As a user, I can see an icon depending on the temperature..
// Bonus User Story: As a user, I see a different background image depending on the temperature (e.g. snowy mountain, hot desert).
// Bonus User Story: As a user, I can push a button to toggle between Fahrenheit and Celsius.

* {
  border: 1px solid pink;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/app/images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

body {
  background-color: green;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  color: #ffffff;
  background-size: cover;
}

p {
  display: inline-block;
}

.location {
  font-size: 5em;
  display: block;
  text-align: center;
  overflow: hidden;
}

.country {
  font-size: 1.0em;
  display: block;
  text-align: center;

}

.temperature {
  font-size: 3em;
}

.jumbotron {
  position: relative;
  background-color: transparent;
  border-radius: 20px !important;
  background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    );
}












